* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .s1 {
    background-image: url("./img/couch.jpg");
    background-size: cover;
  }
  .section h1 {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #87c7df, #648896);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .s2 {
    background: linear-gradient(to left top, rgb(189, 193, 199), white);
  }
  .s2 h1 {
    font-size: 48px;
    background: linear-gradient(to left, #404042, #373838);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .chair {
    height: 60%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .description {
    margin-top: 20%;
    width: 50%;
    margin-left: 5%;
    font-size: 20px;
  }
  .description p {
    margin: 50px 0px;
  }
  